/* Text Box Section */

.changelog-new, .extrabutton{
  border-radius: 10px;
}
#overlay > div.followtools{
  border-radius: 10px;
}
.social i, .mobile-social i, .mobile-tools i, .stats i{
  border-radius: 10px;
}
.followtools a.big{
  border-radius: 10px;
}

/* Settings Section */

.modal::-webkit-scrollbar-thumb{
  background-color: hsl(282deg 100% 87% / 75%);
}
input:checked+.slider{
  background-color: hsl(255deg 27% 19%);
}
.modal .modalbody .range{
  background: hsl(255deg 27% 19%);
}
.modal .modalbody select, .modal .modalbody input[type=text], .modal .modalbody input.number{
  background: hsl(255deg 27% 19%);
  color: rgb(232, 207, 255); 
}

/* Ecp Section */

.stats input, .ecpinput{
  background: black;
  box-shadow: 0 0 6px hsl(282deg 80% 80%);
  color: hsl(296deg 100% 82% / 80%); 
  text-shadow: none;
  border-radius: 15px;
}
#player button:hover, #respawn_actions button:hover, .donate-btn:hover, .ecpbtn:hover{
  background: hsl(0deg 0% 7%);
  box-shadow: 0 0 6px hsl(241deg 100% 78%);
  color: hsl(241deg 100% 78%);
}

/* Buttons section */

#player button, #respawn_actions button, .donate-btn{
  background: black;
  box-shadow: 0 0 6px hsl(282deg 80% 80%);
  color: hsl(296deg 100% 82% / 80%); 
  text-shadow: none;
  border-radius: 15px;
}

/* Play button */ 

element.style{
 border-radius: 10px;
}

/* Ecp Background */

.frozenbg, .frozenbg:visited{
  background: black;
  box-shadow: 0 0 3px hsl(282deg 80% 80%);
  color: hsl(296deg 100% 82% / 80%);
  text-shadow: 0 0 black;
  border-radius: 15px;
  font-family: Verdana;
}

/* LB Section :D */

.modal .modalbody .gmodes span{
  display: inline-block;
  box-shadow: 0 0 5px hsl(0deg 100% 73% / 77%);
  height: 40px;
  line-height: 40px;
  width: 45%;
  margin: 1%;
  border: 1.5px solid hsl(330deg 100% 76%);
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color: hsl(330deg 100% 87%);
  background: #fe609c12;
}

.modal .modalbody .gmodes span.selected{
  background: hsl(186deg 79% 24% / 20%);
  box-shadow: 0 0 6px hsl(204deg 100% 55%);
  color: hsl(205deg 100% 78%);
  border: 1.5px solid hsl(188deg 100% 85% / 85%);
}
.modal .modalbody span.region{
  box-shadow: 0 0 4px hsl(282deg 80% 80% / 45%);
  color: hsl(282deg 100% 82% / 80%);
  border: 1px solid hsl(269deg 100% 72% / 85%);
  background: #13061cbd;
}
.modal .modalbody span.region.active{
  background: hsl(186deg 81% 11% / 20%);
  box-shadow: 0 0 6px hsl(204deg 100% 55% / 15%);
  color: hsl(205deg 100% 78%);
  border: 1px solid hsl(188deg 100% 85% / 85%);
  text-shadow: 0 0 black;
}
.modal .modalbody span.region:hover{
  background: hsl(0deg 0% 8%);
  box-shadow: 0 0 4px hsl(241deg 100% 78% / 65%);
  color: hsl(241deg 100% 70%);
  border: 1px solid hsl(241deg 100% 70%);
}
#connection_lost, #game_over, #adblocked_message{
  color: hsl(296deg 100% 82% / 80%);
}
.stats{
  font-size: .5em;
  border: 2px solid hsl(296deg 100% 82% / 80%);
  box-shadow: 0 0 15px hsl(200deg 50% 70%);
  background: hsla(200, 50%, 10%, .5);
  width: 600px;
  padding: 0 10px;
  margin: 10px auto;
  color: hsl(241deg 100% 78%);
  background: transparent;
  box-shadow: 0 0 6px hsl(282deg 80% 80% / 25%);
  color: hsl(296deg 100% 82% / 80%);
  text-shadow: none;
  border-radius: 15px;
  border-bottom: 1px solid hsl(241deg 100% 78%);
}
/* This destroy u ECP Caution */
#overlay > div.social > i.sbg.sbg-facebook{
  display: none;
}
#overlay > div.social > i.sbg.sbg-twitter {
    display: none;
}

#respawn > div.stats > i.fa.fa-facebook{
  display: none;
}

#respawn > div.stats > i.fa.fa-twitter{
  display: none;
}

#respawn > div.stats > i.fa.fa-vk{
  display: none;
}

#respawn > div.stats > i.fa.fa-envelope{
  display: none;
}
#respawn > div.stats > div:nth-child(1){
  border-bottom: 1px solid hsl(270deg 50% 55%);
}
#respawn > div.stats > div:nth-child(2){
  border-bottom: 1px solid hsl(270deg 50% 55%);
}
#respawn > div.stats > div:nth-child(3){
  border-bottom: 1px solid hsl(270deg 50% 55%);
}
#respawn > div.stats > div:nth-child(4){
  border-bottom: 1px solid hsl(270deg 50% 55%);
}
#respawn > div.stats > div:nth-child(5){
  border-bottom: 1px solid hsl(270deg 50% 55%);
}
#respawn > div.stats > div:nth-child(6){
  border-bottom: 1px solid hsl(270deg 50% 55%);
}
#respawn > div.stats > div:nth-child(7){
  border-bottom: 1px solid hsl(270deg 50% 55%);
}
#respawn > div.stats > div:nth-child(8){
  border-bottom: 1px solid hsl(270deg 50% 55%);
}
#respawn > div.stats > small{
  padding: 0px 15px 5px 15px;
}
#respawn > div.stats > input{
  background: #000000cf;
  margin: 10px; 
}
#continue_btn{
  background: #0000008c;
}
#refresh_btn{
  background: #0000008c;
}
#respawn_btn{
  background: #0000008c;
}
#respawn > div.stats{
  background: #0000008c;
}
/* Name Changes 1) Name 2) Color 3) ECP */
#player input{
  text-shadow: none;
}
#player > div.inputwrapper > div > span{
  border-radius: 33px;
  margin: 1px;
  height: 15px;
}
#player > div.inputwrapper > img{
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;
}
.inputwrapper{
  display: inline-block;
  box-shadow: none;
  border-radius: 4px;
  height: 50px;
  margin-top: 12px;
  position: relative;
  max-width: 100%;
  border: 1px solid #ebd5ff8a;
  background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 7%, rgb(0, 0, 0) 95%, rgb(0, 0, 0) 90%);
}
#overlay > div.social > i.sbg.sbg-info{
  color: rgb(232, 207, 255);
  background: radial-gradient(at center center, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 150%);
  box-shadow: rgb(232, 207, 255) 0px 0px 4px;
  text-shadow: none;
}
#overlay > div.social > i.sbg.sbg-gears{
  color: rgb(232, 207, 255);
  background: radial-gradient(at center center, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 150%);
  box-shadow: rgb(232, 207, 255) 0px 0px 4px;
  text-shadow: none;
}
