/* Text Box Section */

.changelog-new, .extrabutton{
  border-radius: 10px;
}
#overlay > div.followtools{
  border-radius: 10px;
}
.social i, .mobile-social i, .mobile-tools i, .stats i{
  border-radius: 10px;
}
.followtools a.big{
  border-radius: 10px;
}

/* Settings Section */

.modal::-webkit-scrollbar-thumb{
  background-color: hsl(282deg 100% 87% / 75%);
}
input:checked+.slider{
  background-color: hsl(255deg 27% 19%);
}
.modal .modalbody .range{
  background: hsl(255deg 27% 19%);
}
.modal .modalbody select, .modal .modalbody input[type=text], .modal .modalbody input.number{
  background: hsl(255deg 27% 19%);
  color: rgb(232, 207, 255); 
}

/* Ecp Section */

.stats input, .ecpinput{
  background: black;
  box-shadow: 0 0 6px hsl(282deg 80% 80%);
  color: hsl(296deg 100% 82% / 80%); 
  text-shadow: none;
  border-radius: 15px;
}
#player button:hover, #respawn_actions button:hover, .donate-btn:hover, .ecpbtn:hover{
  background: hsl(0deg 0% 7%);
  box-shadow: 0 0 6px hsl(241deg 100% 78%);
  color: hsl(241deg 100% 78%);
}

/* Buttons section */

#player button, #respawn_actions button, .donate-btn{
  background: black;
  box-shadow: 0 0 6px hsl(282deg 80% 80%);
  color: hsl(296deg 100% 82% / 80%); 
  text-shadow: none;
  border-radius: 15px;
}

/* Play button */ 

element.style{
 border-radius: 10px;
}

/* Ecp Background */

.frozenbg, .frozenbg:visited{
  background: black;
  box-shadow: 0 0 3px hsl(282deg 80% 80%);
  color: hsl(296deg 100% 82% / 80%);
  text-shadow: 0 0 black;
  border-radius: 15px;
  font-family: Verdana;
}

/* LB Section :D */

.modal .modalbody .gmodes span{
  display: inline-block;
  box-shadow: 0 0 5px hsl(0deg 100% 73% / 77%);
  height: 40px;
  line-height: 40px;
  width: 45%;
  margin: 1%;
  border: 1.5px solid hsl(330deg 100% 76%);
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color: hsl(330deg 100% 87%);
  background: #fe609c12;
}

.modal .modalbody .gmodes span.selected{
  background: hsl(186deg 79% 24% / 20%);
  box-shadow: 0 0 6px hsl(204deg 100% 55%);
  color: hsl(205deg 100% 78%);
  border: 1.5px solid hsl(188deg 100% 85% / 85%);
}
.modal .modalbody span.region{
  box-shadow: 0 0 4px hsl(282deg 80% 80% / 45%);
  color: hsl(282deg 100% 82% / 80%);
  border: 1px solid hsl(269deg 100% 72% / 85%);
  background: #13061cbd;
}
.modal .modalbody span.region.active{
  background: hsl(186deg 81% 11% / 20%);
  box-shadow: 0 0 6px hsl(204deg 100% 55% / 15%);
  color: hsl(205deg 100% 78%);
  border: 1px solid hsl(188deg 100% 85% / 85%);
  text-shadow: 0 0 black;
}
.modal .modalbody span.region:hover{
  background: hsl(0deg 0% 8%);
  box-shadow: 0 0 4px hsl(241deg 100% 78% / 65%);
  color: hsl(241deg 100% 70%);
  border: 1px solid hsl(241deg 100% 70%);
}
#connection_lost, #game_over, #adblocked_message{
  color: hsl(296deg 100% 82% / 80%);
}
.stats{
  font-size: .5em;
  border: 2px solid hsl(296deg 100% 82% / 80%);
  box-shadow: 0 0 15px hsl(200deg 50% 70%);
  background: hsla(200, 50%, 10%, .5);
  width: 600px;
  padding: 0 10px;
  margin: 10px auto;
  color: hsl(241deg 100% 78%);
  background: transparent;
  box-shadow: 0 0 6px hsl(282deg 80% 80% / 25%);
  color: hsl(296deg 100% 82% / 80%);
  text-shadow: none;
  border-radius: 15px;
  border-bottom: 1px solid hsl(241deg 100% 78%);
}
.social i, .mobile-social i, .mobile-tools i, .stats i{
  display: none;
}
.stats input, .ecpinput{
  margin: 22px;
}
