.modal::-webkit-scrollbar-thumb{
  background-color:hsl(282deg 100% 87% / 75%);
}
input:checked+.slider{
  background-color:hsl(255deg 27% 19%);
}
.modal .modalbody .range{
  background:hsl(255deg 27% 19%);
}
.modal .modalbody select, .modal .modalbody input[type=text], .modal .modalbody input.number{
  background:hsl(255deg 27% 19%);
  color:rgb(232, 207, 255); 
}
.stats input, .ecpinput{
  background: black;
  box-shadow:0 0 6px hsl(282deg 80% 80%);
  color:hsl(296deg 100% 82% / 80%); 
  text-shadow: none;
  border-radius:15px;
}
#player button, #respawn_actions button, .donate-btn{
  background: black;
  box-shadow:0 0 6px hsl(282deg 80% 80%);
  color:hsl(296deg 100% 82% / 80%); 
  text-shadow: none;
  border-radius:15px;
}
.frozenbg, .frozenbg:visited{
  background: black;
  box-shadow:0 0 6px hsl(282deg 80% 80%);
  color:hsl(296deg 100% 82% / 80%); 
  text-shadow:0 0 7px hsl(331deg 100% 51%);
  border-radius:15px;
}
.changelog-new, .extrabutton{
  border-radius:5px;
}
.changelog-new, .extrabutton{
  border-radius:5px;
}
#overlay > div.followtools{
  border-radius:5px;
}
.social i, .mobile-social i, .mobile-tools i, .stats i{
  border-radius:5px;
}
